<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
        <p>© TSF Banking Website.
      </div>
    </div>
  </div>
</footer>

</body>
</html>
